section.footer2
    .footer__menu
        ul.menu__items
            li.menu__item
                a(href="./index.html") Главная
            li.menu__item
                a(href="./about.html") Обо мне
            li.menu__item
                a(href="./my-works.html") Мои работы
            li.menu__item
                a(href="./blog.html") Блог
        ul.footer__social_items
            li.footer__social_item
                a(href="https://vk.com/mischenkomi" target="_blank")
                    +svg('social__item footer__social_item', 'vk_round')
            li.footer__social_item
                a(href="https://github.com/rucreatizer/" target="_blank")
                    +svg('social__item footer__social_item', 'github_round')
            li.footer__social_item
                a(href="https://www.instagram.com/spectender.ru/" target="_blank")
                    +svg('social__item footer__social_item', 'in_round')                             
    .footer__down-text
        p Я веб-разработчик из Челябинска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
        p © Мищенко Михаил | создано с любовью в LoftSchool | 2017