#mobile-menu.mobile-menu.mobile-menu__hidden
    ul.mobile-menu__list
        li.mobile-menu__item
            a(href="./my-works.html").mobile-menu__url.mobile-menu__title мои работы
        li.mobile-menu__item   
            a(href="./blog.html").mobile-menu__url.mobile-menu__title блог
        li.mobile-menu__item    
            a(href="./about.html").mobile-menu__url.mobile-menu__title обо мне
        li.mobile-menu__item    
            a(href="./index.html").mobile-menu__url.mobile-menu__title авторизация
    #close-mobile-menu.close-mobile-menu