body {
    font-family: roboto;
    font-size: 16px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@import 'common/fonts';
@import 'common/normalize';
@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';
@import 'common/welcome';