.wrapper__about {
    background-image: url(../images/bg.jpg)
}

.section__top {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper-header {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.social__item {
    width: 31px;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;
}

.social__item_about {
    fill: white;
    fill-opacity: 0.5;
    &:hover {
        fill: white;
        fill-opacity: 1;
    }
}

.menu {
    position: relative;
    width: 40px;
    border-bottom: 5px solid white;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        border-top: 5px solid white;
    }
    &:after {
        content: '';
        position: absolute;
        top: 200%;
        left: 0;
        width: 40px;
        border-bottom: 5px solid white;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>.my-name {
        color: white;
    }
    &>.description {
        color: white;
    }
}

.arrow-down {
    margin-bottom: 50px;
    margin-top: 150px;
}

#arrow_down>path {
    fill: white;
}

.angle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transform: translate(0, -100%);
}

.left__div {
    position: absolute;
    left: 0;
    top: 100%;
    border: 160px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 950px solid #efeee9;
    transform: translateY(-100%);
}

.right__div {
    position: absolute;
    left: 50%;
    top: 100%;
    border: 160px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 950px solid #eeebdf;
    transform: translateY(-100%);
}

.bg__title {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.bg__title-img {
    width: 100%;
    height: 300px;
    fill: white;
    fill-opacity: 0.1;
}

.section__about {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.triangle {
    position: absolute;
    top: -160px;
}

.triangle .left {
    fill: #efeee9;
}

.triangle .right {
    fill: #eeebdf;
}

.section__about_left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #efeee9;
}

.section__about_title {
    position: relative;
    width: 50%;
    padding-left: 93px;
}

.section__about_title_img {
    position: absolute;
    top: -50px;
    left: 50px;
    fill: #6d7070;
    fill-opacity: 0.07;
}

.auth__title_about {
    font-size: 63px;
    color: black;
}

.section__about_more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.about__photo {
    width: 450px;
    height: 390px;
}

.auth__title_small {
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.auth__title_desc {
    font-size: 16px;
    color: #455a64;
    line-height: 1.5
}

.section__about_right {
    width: 50%;
    background-color: #eeebdf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px 0 40px;
}

.section__about_right .auth__title {
    margin-bottom: 0;
}

.auth__title_useme {
    &:after {
        display: none;
    }
    &:before {
        display: none;
    }
}

.section__about_right p {
    color: #455a64;
    line-height: 1.5
}

.skills {
    width: 100%;
}

.skills__title {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #455a64;
    text-align: left;
}

.skills__list {
    text-indent: 1px;
    padding-left: 0;
}

.skill__item {
    position: relative;
    display: inline-block;
    //border: 1px solid #ccc;
    width: 120px;
    height: 120px;
    margin-right: 35px;
}

.circles {
    fill: none;
    stroke-width: 17;
}

.circle__first {
    stroke: #dfdcd5;
}

.circle__second {
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
}

.skills__text {
    font-size: 13px;
    color: #00bfa5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circles .circle-0 {
    stroke-dasharray: .001 282.6;
}

.circles .circle-10 {
    stroke-dasharray: 28.26 282.6;
}

.circles .circle-15 {
    stroke-dasharray: 42.39 282.6;
}

.circles .circle-20 {
    stroke-dasharray: 56.52 282.6;
}

.circles .circle-25 {
    stroke-dasharray: 70.65 282.6;
}

.circles .circle-30 {
    stroke-dasharray: 84.78 282.6;
}

.circles .circle-35 {
    stroke-dasharray: 98.91 282.6;
}

.circles .circle-40 {
    stroke-dasharray: 113.04 282.6;
}

.circles .circle-45 {
    stroke-dasharray: 127.17 282.6;
}

.circles .circle-50 {
    stroke-dasharray: 141.3 282.6;
}

.circles .circle-55 {
    stroke-dasharray: 155.43 282.6;
}

.circles .circle-60 {
    stroke-dasharray: 169.56 282.6;
}

.circles .circle-65 {
    stroke-dasharray: 183.69 282.6;
}

.circles .circle-70 {
    stroke-dasharray: 197.82 282.6;
}

.circles .circle-75 {
    stroke-dasharray: 211.95 282.6;
}

.circles .circle-80 {
    stroke-dasharray: 226.08 282.6;
}

.circles .circle-85 {
    stroke-dasharray: 240.21 282.6;
}

.circles .circle-90 {
    stroke-dasharray: 254.34 282.6;
}

.circles .circle-95 {
    stroke-dasharray: 268.47 282.6;
}

.circles .circle-100 {
    stroke-dasharray: 282.6 282.6;
}

.section__map {
    position: relative;
}

#map {
    width: 100%;
    height: 930px;
    position: relative;
    z-index: 1;
}

.map__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    height: 290px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(white, 0.7);
    border-radius: 5px;
    z-index: 99999999999999999999999999999;
    padding-top: 25px;
}

.map__info .map__title {
    color: black;
}

.contacts__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.contact__image {
    fill: #00bea4;
    width: 20px;
    height: 20px;
}